/* [common] */
* {
  box-sizing:border-box; 
}

html{
  /* 스크롤 이동을 부드럽게 */
  scroll-behavior: smooth;
}

/* 폰트 */
body {
   font-family: "Noto Sans", sans-serif;
}
.font-EN{
  font-family: "Oswald", sans-serif;
}
.font-KRtitle {
 font-family: "Black Han Sans", sans-serif;
}

a{
  text-decoration: none;
  color:inherit;
}

.inner{
  width:100%; 
  height:100%;
  padding:20px 0;
  margin: 0 auto;
}


/* 타이틀 */
.title{
  font-size:50px;
  font-weight:800;
  text-align: center;
  margin-bottom:50px;
}

.title::after {
  content:""; 
  display:block;
  width:80px;
  height:2px;
  background-color: #333;
  margin: 24px auto 0; 
}

/* 스크롤 */
.scroll {
  height: 100%;
  overflow-y: auto;
}

/* [header & background] */
html, body {
  width:100%;
  height:100%;
  margin:0;
  padding:0;
  background-color: rgb(255, 255, 254);
  overflow:hidden;

}

.main-box {
  width:85%;
  height:85%;
  background-color:rgb(255, 255, 255);
  box-shadow:0 2px 8px 8px rgba(161, 160, 159, 0.5);
  border-radius:3px;
  position:relative;
  margin:0 auto;
  margin-bottom: 8px;
  padding:40px 0;
}

/* [MainPage] */

.header-container{
  position:absolute;
  width:100%;
  z-index:999;
}

.nav-container ul {
  display: flex;
  justify-content: flex-end;
  column-gap: 30px;
  margin-top: 20px;
  margin-right: 50px;
  font-size:large;
  font-weight: 700;
}

.nav-container ul li {
  position:relative;
}

.nav-container ul li+li::before{
  content:"";
  display:block;
  width: 1px; 
  height: 15px;
  background-color:rgb(34, 33, 33);
  position:absolute;
  top:0;
  bottom:0;
  margin:auto;
  left:-15px;
}

.nav-container ul li a {
  transition:0.8s;
}

.nav-container ul li a:hover{
  color:rgb(19, 104, 242);
}

.main-line-wrapper {
  height: 60%;
  display: flex;
  justify-content: center;
  align-items:center;
}

.main-line {
  font-size: 80px;
  font-weight: bold;
  transform: translateY(-90px); 
}

 .animate-typing {
  opacity: 0;
  animation: typing 1s ease-in forwards;
}

.main-image-wrapper {
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-image-wrapper .main-btn{
  width:200px;
  height:90px;
  font-size: 30px;
  font-weight: 600;
  border: 2px solid rgb(45, 45, 45);
  border-radius: 10px;
  transition:0.7s;
  display: flex;
  align-items: center;
  justify-content: center;
  

}

.main-image-wrapper .animate-shaking {
  animation-name: shaking;
  animation-duration: 0.8s;
  animation-iteration-count: 2;
}

@keyframes shaking { 
  0% {transform:rotate(0);}
  15% {transform:rotate(-10deg);}
  25% {transform:rotate(10deg);}
  35% {transform:rotate(-10deg);}
  45% {transform:rotate(10deg);}
  55% {transform:rotate(-10deg);}
  65% {transform:rotate(10deg);}
  75% {transform:rotate(-10deg);}
  85% {transform:rotate(10deg);}
  100% {transform:rotate(0);}
}

.main-image-wrapper .main-btn:hover{
  cursor: pointer;
  background-color: rgb(19, 104, 242);
  color: rgb(244, 242, 242);
  border:none;
  animation-fill-mode: forwards;
}

.main-image-wrapper img {
  width:500px;
  height:auto;
  transform: translateY(50px); 
}


/* [About] */
.ABOUT-box {
  width:100%;
  height:100%;
  display:flex;
  align-items: center;
}

.Main-text-box{
  width:70%;
  height:100%;
  padding-top:50px;
  padding-left:40px;
}

.text-box{
  height:100%;
  padding-left:40px;
}

.text-box1 .side-first-line{
  font-size: 25px;
  font-weight: 700;
  padding:1px;
  
}

.text-box1 .text-box-line{
  width:685px;
  height:2px;
  background-color:rgb(34, 33, 33);
  margin-top:10px;
  padding-bottom:1px;
  
}

.text-box1 .main-first-line {
  font-size: 45px;
  font-weight: 300px;
  color:rgb(34, 33, 33);
  margin-top:15px;
  line-height:1.3;
  padding-bottom:1px;
}

.text-box1 .name {
  font-weight: bold;
  color: rgb(19, 104, 242);
}

 .show .text-box1 .animate-drop{
  display: inline-block;
  animation:drop 1s ease-in-out;
  animation-iteration-count: 1;
}


.text-box1 .introduction {
  font-size: 18px; 
  font-weight:400px;
  color:rgb(34, 33, 33);
  margin-top:20px;
}

.text-box2 {
  padding-top:60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-box2-1 {
  transform: translateX(-150px);
  height:400px;
}

.text-box2-2 {
  transform: translateX(30px);
}

.text-box2 h4 {
  font-size: 16px;
  font-weight:600;
  padding-bottom:10px;
}

.text-box2 li {
  font-size: 15px;
  line-height: 1.5;
}

 .text-box2 .line{
  margin-top:20px;
}

.text-box2-2 {
  height:400px;
}

.text-box2-2 ul li:nth-child(2),.text-box2-2 ul li:nth-child(3),
.text-box2-2 ul li:nth-child(5),.text-box2-2 ul li:nth-child(6),
.text-box2-2 ul li:nth-child(8),.text-box2-2 ul li:nth-child(9){
  font-size:14px;
}

.text-box2-2 ul li:nth-child(3),.text-box2-2 ul li:nth-child(6) {
  margin-bottom: 20px;
}

.img-box{
  width:40%;
  height:100%;
}

.img-box img {
  width:100%;
  height:80%;
  object-fit: contain;
  border-radius:10px;
  /* padding:10px; */
  margin: auto;
}

/* [SKILL] */
.inner .title::after{
  background-color: black;
  width: 200px;
  height: 2px;
}

.inner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inner .skill_list {
  display: flex; 
  justify-content:center;
  column-gap: 50px;
  text-align: center;
  flex-wrap: wrap;
}

.inner .skill_list>li {
  display: flex;
  flex-direction: column;
  align-items:center;
  line-height: 1.8;
  
  transform:translateY(100px);
  transition: 1s;
  opacity: 0;

}

.show .skill_list>li {
  transform: translateY(0);
  opacity: 1;
}

.inner .skill_list >li:nth-child(1) { transition-delay: 0.2s; }
.inner .skill_list >li:nth-child(2) { transition-delay: 0.4s; }
.inner .skill_list >li:nth-child(3) { transition-delay: 0.6s; }
.inner .skill_list >li:nth-child(4) { transition-delay: 0.8s; }
.inner .skill_list >li:nth-child(5) { transition-delay: 1s; }

.skill_list li h3 {
  width:90px;
  height:70px;
  background-color:rgb(19, 104, 242);
  box-shadow: 2px 2px 10px 2px rgba(0,0,0,0.3);
  color:white;
  border-radius: 50%;
  font-size: 30px;
  font-weight:bold;
  letter-spacing: -2px;
  transform: rotate(-20deg);
  transition: 0.8s;
}

.skill_list li:hover h3 {
  transform: rotate(0deg);
}

.skill_list li h4 {
  font-size:18px;
  font-weight: bold;
  margin: 30px 0 20px;
}

/* [Scroll to Top] */
#toTop{
  width:40px;
  height:40px;
  background-color: #dfdddd;
  border: 1px solid #f7f3f3; 
  border-radius: 50%;
  cursor: pointer;

  display:flex; 
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 30px;
  right:30px;
  z-index:9;

  opacity:0; 
  transform:translateX(100px); 
  transition: 0.5s;
}

/* [project] */
.project .inner{
  width:100%;
  height:100%;
}

.port {
  width:100%;
  height:100%;
  display:flex;
  justify-content: space-around;
  align-items: center;
}

.port .port_img {
  width:50%;
  height:100%;
}
.port .port_text{
  width:50%; 
  height:100%;
}

.swiper{
  width:80%;
  height:100%;
}

.swiper-wrapper .swiper-slide {
  width:100%;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img{
  width: 100%;
  height:100%;
  object-fit: contain;
  display: inline-block;
}

.swiper-pagination-bullet {
  background: black; 
  opacity: 0.5; 
}

.swiper-pagination-bullet:hover {
  background: black; 
  opacity: 1; 
}

.swiper-button-prev,
.swiper-button-next {
  color:rgb(77, 74, 74); /* 화살표 색상 */
  width: 10px;  /* 버튼 너비 */
  height: 5px; /* 버튼 높이 */
  border-radius: 20px; /* 둥근 모서리 */
  font-weight:bolder;
}

.swiper-button-prev:hover,
.swiper-button-next:hover{
  color:#9b9898;
}














#toTop .material-symbols-outlined {
  line-height:40;
}





















@keyframes typing {
  to{opacity: 1;}
}

@keyframes drop {
  0% {transform: translateY(0);}
  50% {transform: translateY(-30px); color:rgb(97, 95, 95);}
  100% {transform: translateY(0);}
}
